.dealer {
  grid-area: dealer;
  border: 1px solid red;
}
.player1 {
  grid-area: player1;
  border: 1px solid rgb(81, 168, 202);
}
.faceDownDeck {
  grid-area: faceDownDeck;
  border: 1px solid gray;
}

.playersGrouped {
  grid-area: playersGrouped;
  border: 1px solid blue;
}

.cards_container {
  width: 100%;
  height: 100%;
  place-self: center;
  text-align: center;
  margin: 5px;
  background-color: rgb(194, 194, 194);
}
