.dealer {
  grid-area: dealer;
  background-color: red;
}
.player1 {
  grid-area: player1;
  background-color: white;
}
.faceDownDeck {
  grid-area: faceDownDeck;

  background-color: gray;
}

.playersGrouped {
  grid-area: playersGrouped;
  background-color: blue;
}

.cards_container {
  width: 100%;
  height: 100%;
  place-self: center;
  text-align: center;
}
