.tableLayoutBlackjack {
  min-width: 90vw;
  min-height: 30vw;
  outline: solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas:
    "dealer playersGrouped"
    "faceDownDeck playersGrouped"
    "player1 player1";
}
